<h1>Add a pic for room <%= @room.name %></h1>

<%= simple_form_for [@room, @picture], html: { class: 'dropzone', id: 'dropzone-upload' } do |f| %>
  <div class="fallback">
    <input name="photos[]" type="file" multiple />
  </div>
<% end %>
